
<html>

<head>

</head>

<body>
<!--
<form method="post" action="ingen_javascript.htm"
  onsubmit="CheckPassword();return false;" name="login">
<pre>
Username: <input type="text" name="username"  align="right">
Password: <input type="password" name="password">
</pre>
<input type="submit" align="right" value="login"
  onclick="CheckPassword();return false;">
</form>
-->
<!--<p>Ask a Question</p>

<form action="">
<fieldset>
<label for="title"><b>Subject:&nbsp;</b></label>
<input type="text" name="title" id="title" size=50>
<label for="category"><b>&nbsp;&nbsp;&nbsp;Select a Category:</b></label>
<select name="category" id="category">
<option selected="selected">Category 1</option>
<option>Category 2</option>
<option>Category 3</option>
<option>Category 4</option>
<option>Category 5</option>
</select>
</fieldset>

<fieldset>
<label for="Question"><b><p class="top">Question:</p></b></label>
<textarea name="question" id="question" rows="20" cols="100">
</textarea>
</fieldset>

<button>Submit Question</button>
</form>
-->



	<!--
	<form name="AskQuestion">
	Which Category?<select name="category" size=1>
		<option selected>
		<option selected>Cat1
		<option selected>Cat2
		<option selected>Cat3
		<option selected>Cat4
		<option selected>Cat5
	</select><BR>
	Subject:<input type="text" name="subject">
	Question:<input type="text-->
<!--<%= link_to 'log in', new_session_path %>-->
<%= link_to 'log out', logout_path %>
<%= link_to 'New User', new_user_path %>
<br><br>

	<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Creator</th>
      <th>Title</th>
      <th>Content</th>
      <th>Category</th>
      <th>Answered</th>
      <th>Closing comment</th>
      <th>Timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  -->
<!-- Loop to display questions -->

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.id %></td>
		<td><%= question.creator_id %></td>
     
        
        <td><%= question.title %></td>
        <td><%= question.content %></td>
        <td><%= question.category %></td>
        <td><%= question.answered %></td>
        <td><%= question.closing_comment %></td>
        <td><%= question.timestamp %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Respond', new_answer_path(:question_id => question.id) %></td>
        <td><%= link_to 'Answer',  answer_question_path(question)%></td>
      </tr>
    <% end %>
  
    
  </tbody>
</table>
<br>




<%= link_to 'New Question', new_question_path %>

<h1>Category 1</h1>
<!--Display three catagories of questions - Table 1 below-->
<% @questions.where("category = '1'").order('timestamp').reverse_order().each do |question| %>
  <table width="550" border="1">
  <tbody>
    <tr>
      <td width="400"><a href="#"><%= link_to question.title, question %></a> <label>[Rating]</label></td>
      <td width="150">&nbsp; <label><%=question.category%></label></td>
    </tr>
  </tbody>
  <table width="550" border="1">
  <tbody>
    <tr>
      <td><p><%=question.content%></p></td>
	  		
	
	
    </tr>

  </tbody>
  <tr>
  <td>
  <%= link_to 'Respond', new_answer_path(:question_id => question.id) %><%= "      "%><a href="#"><%= link_to "Show All Answers", question %>
  </td>
  </tr>
</table>  
<% end %>


<br>
<h1>Category 2</h1>
<% @questions.where("category = '2'").order('timestamp').reverse_order().each do |question| %>
  <table width="550" border="1">
  <tbody>
    <tr>
      <td width="400"><a href="#"><%= link_to question.title, question %></a> <label>[Rating]</label></td>
      <td width="150">&nbsp; <label><%=question.category%></label></td>
    </tr>
  </tbody>
  <table width="550" border="1">
  <tbody>
    <tr>
      <td><p><%=question.content%></p></td>
	  		
	
	
    </tr>

  </tbody>
  <tr>
  <td>
  <%= link_to 'Respond', new_answer_path(:question_id => question.id) %><%= "      "%><a href="#"><%= link_to "Show All Answers", question %>
  </td>
  </tr>
</table>  
<% end %>

<br>
<h1>Category 3</h1>
<% @questions.where("category = '3'").order('timestamp').reverse_order().each do |question| %>
  <table width="550" border="1">
  <tbody>
    <tr>
      <td width="400"><a href="#"><%= link_to question.title, question %></a> <label>[Rating]</label></td>
      <td width="150">&nbsp; <label><%=question.category%></label></td>
    </tr>
  </tbody>
  <table width="550" border="1">
  <tbody>
    <tr>
      <td><p><%=question.content%></p></td>
	  		
	
	
    </tr>

  </tbody>
  <tr>
  <td>
  <%= link_to 'Respond', new_answer_path(:question_id => question.id) %><%= "      "%><a href="#"><%= link_to "Show All Answers", question %>
  </td>
  </tr>
</table>  
<% end %>

<br>
<h1>Category 4</h1>
<% @questions.where("category = '4'").order('timestamp').reverse_order().each do |question| %>
  <table width="550" border="1">
  <tbody>
    <tr>
      <td width="400"><a href="#"><%= link_to question.title, question %></a> <label>[Rating]</label></td>
      <td width="150">&nbsp; <label><%=question.category%></label></td>
    </tr>
  </tbody>
  <table width="550" border="1">
  <tbody>
    <tr>
      <td><p><%=question.content%></p>
      <a href="#"><%= link_to "Show Answers", question %></a></td>
	  		
	
	
    </tr>

  </tbody>
  <tr>
  <td>
  <%= link_to 'Respond', new_answer_path(:question_id => question.id) %>
  </td>
  </tr>
</table>  
<% end %>

<br>
<h1>Category 5</h1>
<% @questions.where("category = '5'").order('timestamp').reverse_order().each do |question| %>
  <table width="550" border="1">
  <tbody>
    <tr>
      <td width="400"><a href="#"><%= link_to question.title, question %></a> <label>[Rating]</label></td>
      <td width="150">&nbsp; <label><%=question.category%></label></td>
    </tr>
  </tbody>
  <table width="550" border="1">
  <tbody>
    <tr>
      <td><p><%=question.content%></p>
      <a href="#"><%= link_to "Show Answers", question %></a></td>
	  		
	
	
    </tr>

  </tbody>
  <tr>
  <td>
  <%= link_to 'Respond', new_answer_path(:question_id => question.id) %>
  </td>
  </tr>
</table>  
<% end %>
<!--Second Table -->
<!--<table width="550" border="1">
  <tbody>
    <tr>
      <td width="400"><a href="#">Username</a> <label>[Rating]</label></td>
      <td width="150">&nbsp; <label>[Date]</label></td>
    </tr>
  </tbody>
  <table width="550" border="1">
  <tbody>
    <tr>
      <td><a href="#">Question</a>
      <p>Questions?Question?Question?</p></td>
    </tr>

  </tbody>
</table>    	
  	
<!--THird categories table-->
<!--<table width="550" border="1">
  <tbody>
    <tr>
      <td width="400"><a href="#">Username</a> <label>[Rating]</label></td>
      <td width="150">&nbsp; <label>[Date]</label></td>
    </tr>
  </tbody>
  <table width="550" border="1">
  <tbody>
    <tr>
    	
    <!--Link to -->	
      <!--<td><a href="#">Question</a>
      <p>Questions?Question?Question?</p></td>
    </tr>
  </tbody>
</table>  
-->
  	
</body>

</html>