<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question.question_id %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @question.creator_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Category:</strong>
  <%= @question.category %>
</p>

<p>
  <strong>Answered:</strong>
  <%= @question.answered %>
</p>

<p>
  <strong>Closing comment:</strong>
  <%= @question.closing_comment %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @question.timestamp %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
<table>
  <thead>
    <tr>
      <th>Answer</th>
      <th>Q response</th>
      <th>Creator</th>
      <th>Response score</th>
      <th>Content</th>
      <th>Timestamp</th>
      <th colspan="3%"></th>
    </tr>
  </thead>
<table>
  <tbody>
    <% @answers.each do |answer| %>
      <tr>
      	<td><%= answer.id %></td>
        <td><%= answer.q_response_id %></td>
        <td><%= answer.creator_id %></td>
        <td><%= answer.response_score %></td>
        <td><%= answer.content %></td>
        <td><%= answer.timestamp %></td>
        <td><%= link_to 'Show', answer %></td>
        <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
        <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Respond', new_response_path(:question_id => answer.q_response_id, :response_id => answer.id) %></td>
		<td><%= link_to 'Correct', correct_answer_path(answer)%></td>
      
      </tr>
    <% end %>
  </tbody>
</table>
