<%= form_for(@hacker) do |f| %>
  <% if @hacker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hacker.errors.count, "error") %> prohibited this hacker from being saved:</h2>

      <ul>
      <% @hacker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
    <div class="field">  
    <%= f.label :password_confirmation %>  
    <%= f.password_field :password_confirmation %>  
  </div> 
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :score %><br>
    <%= f.number_field :score %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
