<h1>login</h1>

<%= form_for(@hacker) do |f| %>
  <% if @hacker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hacker.errors.count, "error") %> prohibited this hacker from being saved:</h2>

      <ul>
      <% @hacker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', hackers_path %>
