<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @hacker.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @hacker.password %>
</p>

<p>
  <strong>First name:</strong>
  <%= @hacker.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @hacker.last_name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @hacker.score %>
</p>

<p>
  <strong>Type:</strong>
  <%= @hacker.type %>
</p>

<%= link_to 'Edit', edit_hacker_path(@hacker) %> |
<%= link_to 'Back', hackers_path %>
