<head>
<meta http-equiv="refresh" content="60" />
</head>
<h1>Listing users</h1>
<!--
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Username</th>
      <th>Password</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Score</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.password %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.score %></td>
        <td><%= user.type %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
-->
<%= link_to 'New User', new_user_path %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Username</th>
      <th>Score</th>
      <th colspan="20"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>