<%= form_for(@response) do |f| %>
  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@response.errors.count, "error") %> prohibited this response from being saved:</h2>

      <ul>
      <% @response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, size: '50x10' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%=f.hidden_field :response_id, :value => 456 %>
  <%=f.hidden_field :creator_id, :value => 100 %>
  <%=f.hidden_field :response_score, :value => 0 %>
  <%=f.hidden_field :timestamp, :value => DateTime.now %>
  <%=f.hidden_field :q_response_id, :value => params[:question_id] %>
  <%=f.hidden_field :r_response_id, :value => params[:response_id] %>
<% end %>
